html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 5rem;
  color: whitesmoke;
}
div {
  font-size: 1.8rem;
  padding: 2%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
nav {
  font-size: 3rem;
}
nav a {
  text-decoration: none;
  color: midnightblue;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.title-container {
  background-image: url(\assets\home.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-bottom: 2px, solid, black;
}
.title-container .btn {
  background-color: white;
  border-radius: 10%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artists-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
}
.artists-container .artist {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.artists-container .artist img {
  width: 70%;
  padding: 2%;
  border-radius: 10%;
}
.artists-container .artist img:hover {
  opacity: 80%;
}
.artists-container .artist a {
  text-decoration: none;
  color: midnightblue;
}
